#configure your retro browser to use your modern computer's ip address and this 
#port. If your modern computer is running Windows, you may need to allow this 
#program and port through the firewall. Allowing it on just private networks 
#should be fine.
PORT=3000

#remove CSS from pages. 
#Late 90s browsers such as IE 5 or 6 understand some CSS, but not enough for 
#many sites to display well. Earlier browsers may not be affected, but it can 
#make the pages load faster.
NO_CSS=true

#Resize and compress image files. 
#Smaller screeens or smaller amounts of RAM really benefit from this, but it 
#prevents you from downloading the full-quality images.
RESIZE_TO=800

#Resize images on the page. This only affects how they appear on the page. 
#Recommended if you have NO_CSS enabled, as many sites rely on CSS to scale 
#images to fit the screen.
SCALE_TO=608

#A list of sites to exclude from NO_CSS and LOW_RES options
ALLOWLIST=example-allowed.txt
